  <footer style="margin-top:5rem;" class="">

    <div class="container mt-5 py-3">

      <div class="row">
        <div class="col-8">
          <h3>Mas informacion de la compañia</h3>

          <p class="text-justify">Pretendemos ser una empresa fuerte en el mercado nacional dentro del sector privado en la
            área de programación de Software, para ello abordaremos todos los servicios que ofrecemos
            actualmente agregando los que vayan surgiendo debido a la necesidad de cambio provocado por
            los avances tecnológicos.Somos una empresa que estará en constante innovación por lo que
            Save Studio se compromete a siempre contar con las nuevas tecnologías de desarrollo de Software
            dentro del mercado.</p>

        </div>
        <div class="col-4">
          <div class="col-md-12 offset-md-1 footer-contact wow fadeInDown animated"
            style="visibility: visible; animation-name: fadeInDown;">
            <h4>Contacto</h4>
            <p><i class="fas fa-map-marker-alt mr-1"></i> Mar Mediterráneo 227, 11400 CDMX, México</p>
            <p><i class="fas fa-phone mr-1"></i> Telefono: (+52) 55 3141 5887</p>
            <p><i class="fas fa-envelope mr-1"></i> Email: <a
                href="mailto:savestudios@onclass.online">savestudios@onclass.online</a></p>
          </div>
        </div>
      </div>
  </footer>
  <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2020 Todos los Derechos Reservados | <a href="">Magtimus</a>
        </div>

        <div class="information">
          <a href="/links/terminos_condiciones">Terminos y Condiciones</a>
        </div>
      </div>

    </div>