<style> 
  footer {
    width: 100%;
    background: #202020;
    color: white;

  }

  .container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

  .container-body {
    display: flex;
    justify-content: space-between;
  }

  .container-footer {
    width: 100%;
    background: #101010;
  }

  .footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .copyright {
    color: #C7C7C7;
  }

  .copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .information a {
    text-decoration: none;
    color: #C7C7C7;
  }
</style>

<footer style="margin-top:6rem;" class="">
  <div class="container mx-auto py-3">
    <div class="row justify-content-between">
      <div class="col-8" style="margin-left: -1.4rem;">
        <h4>Mas informacion de la compañia</h4>
        <p class="text-justify">Pretendemos ser una empresa fuerte en el mercado nacional dentro del sector privado en
          la
          área de programación de Software, para ello abordaremos todos los servicios que ofrecemos
          actualmente agregando los que vayan surgiendo debido a la necesidad de cambio provocado por
          los avances tecnológicos.Somos una empresa que estará en constante innovación por lo que
          Save Studio se compromete a siempre contar con las nuevas tecnologías de desarrollo de Software
          dentro del mercado.</p>

      </div>
      <div class="col-4">
        <div class="col-md-12 offset-md-1 footer-contact wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown;">
          <h5>Contacto</h5>
          <p><i class="fas fa-map-marker-alt mr-1"></i> Mar Mediterráneo 227, 11400 CDMX, México</p>
          <p><i class="fas fa-phone mr-1"></i> Telefono: (+52) 55 3141 5887</p>
          <p class="text-break"><i class="fas fa-envelope mr-1"></i> Email: <a
              href="mailto:savestudios@onclass.online">savestudios @onclass. online</a></p>
        </div>
      </div>
    </div>
</footer>
<div class="container-footer">
  <div class="footer">
    <div class="copyright">
      © 2021 Todos los Derechos Reservados | <a href="">SaveStudios</a>
    </div>
    <div class="information">
      <a href="/links/terminos_condiciones">Terminos y Condiciones</a>
    </div>
  </div>
</div>