<div class="col-12 bg-white mb-5 shadow pb-3 mt-5 bg-white rounded" style="margin-left: -2rem;">
    <h4 class="my-4">
        <i class="fas fa-bookmark mt-4 mx-2"></i>Clase : {{clase.nombre_clase}}
    </h4>
    <hr class="mb-4">
    <div class="list-group list-group-flush">
        <a href="material_clase" class="list-group-item list-group-item-action">
            <i class="fas fa-clipboard-list mr-2"></i>Mis Notas</h5>
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a href="clase_tomar_nota" class="list-group-item list-group-item-action">
            <i class="fas fa-pen-square mr-2"></i>Tomar nota</h5>
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a href="clase_pendiente" class="list-group-item list-group-item-action">
            <i class="fas fa-tasks mr-2"></i>Pendientes de clase</h5>
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a href="clase_resto_dia" class="list-group-item list-group-item-action">
            <i class="fas fa-calendar-day mr-2"></i>Resto del día</h5>
        </a>
    </div>

</div>