<div class="col-12 bg-white mb-5 shadow pb-3 mt-5 bg-white rounded" style="margin-left: -2rem;">
    <h4 class="my-4">
        <i class="fas fa-bookmark mt-4 mx-2"></i>Clase : {{clase.nombre_clase}}
    </h4>
    <hr class="mb-4">
    <div class="list-group list-group-flush">
        <form id="material_clase_form" action="/links/material_clase" method="post">
    <input type="hidden" name="hora" id="horas_material" value="">
    <input type="hidden" name="dia" id="dia_material">
        <a class="list-group-item list-group-item-action" type="submit" href="#"  onclick="return hora()">
            <i class="fas fa-clipboard-list mr-2"></i>Mis Notas</h5>
        </a>    
    </form>
        
    </div>
    <div class="list-group list-group-flush">

        <form id="nota_clase_form" action="/links/clase_tomar_nota" method="post">
    <input type="hidden" name="hora_n" id="horas_nota" value="">
    <input type="hidden" name="dia_n" id="dia_nota">
        <a class="list-group-item list-group-item-action" type="submit" href="#"  onclick="return nota()">
            <i class="fas fa-pen-square mr-2"></i>Tomar nota</h5>
        </a>
        </form>
    </div>
    <div class="list-group list-group-flush">
        <form id="pen_clase_form" action="/links/clase_pendiente" method="post">
    <input type="hidden" name="hora_p" id="horas_pen" value="">
    <input type="hidden" name="dia_p" id="dia_pen">
        <a class="list-group-item list-group-item-action" type="submit" href="#"  onclick="return pen()">
            <i class="fas fa-tasks mr-2"></i>Pendientes de clase</h5>
        </a>
        </form>
    </div>
    <div class="list-group list-group-flush">
        <form id="res_clase_form" action="/links/clase_resto_dia" method="post">
    <input type="hidden" name="hora_r" id="horas_res" value="">
    <input type="hidden" name="dia_r" id="dia_res">
        <a class="list-group-item list-group-item-action" type="submit" href="#"  onclick="return res()">
            <i class="fas fa-calendar-day mr-2"></i>Resto del día</h5>
        </a>
        </form>
    </div>

</div>