<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/links/material_clase"><img src="/img/OnClass.png" width="130px" height="70px"></a>
              <ul class="navbar-nav mr-auto mt-2 mt-xl-0">
                  <li class="nav-item ">
                    <a class="nav-link" href="/links/Horario">Horario</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/grupo">Grupos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/pendientes">Pendientes individuales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/pendientes_grupo">Pendientes de equipo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/links/chat_menu">Mensajes</a>
                  </li>
              </ul>
              <a href="/links/perfil" style="color: black; text-decoration: none;"> {{user.nombre_usuario}}
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg></a>
              <a href="/links/logout" class="nav-item">Cerrar sesion</a>
         
        </div>
      </nav>