<!DOCTYPE html>
<html lang="en">

<head>
	<title>SignUp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/img/icon.png" sizes="192x192">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/libs/css/util.css">
	<link rel="stylesheet" type="text/css" href="/libs/css/main.css">
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
</head>

<body>
	<style>
		body {
			background-image: url('https://images.squarespace-cdn.com/content/v1/5c64519cd7819e5a4b62a726/1551987835069-0ZJUWDSA5H569F220335/ke17ZwdGBToddI8pDm48kBOQXxG3HoTMk1mFu8bffrMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcQAPsjFvgcYruXxCdsOr3LfFPx51ty0i0ey7xyQ0JnjtJE268qqjI9jOefNAgLgT6/Equity+Token+Website+Wave.png?format=2500w');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 105%;
		}
	</style>
	<div class="container mx-auto mt-4">
		<div class="row">
			<div class="col-6">
				<div class="container">
					<div class="wrap-login100 mt-4" style="box-shadow: 10px 5px 5px rgba(138, 137, 137, 0.486);">
						<div style="margin-top: -8.5rem;" class="login100-pic js-tilt" data-tilt>
							<center><svg width="150px" height="100px" version="1.1" id="Capa_1"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									x="0px" y="0px" width="1920px" height="1080px" viewBox="0 0 1920 1080"
									enable-background="new 0 0 1920 1080" xml:space="preserve">
									<path fill="none" stroke="#29AC3C" stroke-width="40" stroke-linecap="round"
										stroke-miterlimit="10" d="M127.832,352.107
								c-50.007,42.013-81.793,105.01-81.793,175.43c0,126.488,102.536,229.023,229.022,229.023c126.486,0,229.021-102.535,229.021-229.023
								c0-70.42-31.786-133.417-81.791-175.43" />
									<line fill="none" stroke="#29AC3C" stroke-width="40" stroke-linecap="round"
										stroke-miterlimit="10" x1="275.062" y1="450.792" x2="275.062" y2="205.412" />
									<g>
										<path d="M591.244,512.407h31.417v43.759c12.567-16.753,26.48-29.285,41.739-37.588c15.26-8.303,31.866-12.455,49.818-12.455
														c18.25,0,34.446,4.639,48.584,13.913c14.138,9.278,24.573,21.768,31.305,37.476c6.732,15.709,10.098,40.169,10.098,73.381v125.668
														h-31.417V640.094c0-28.124-1.168-46.901-3.496-56.326c-3.64-16.157-10.624-28.311-20.947-36.466
														c-10.323-8.152-23.791-12.23-40.396-12.23c-19.005,0-36.028,6.283-51.063,18.85c-15.039,12.566-24.951,28.128-29.737,46.677
														c-2.995,12.117-4.488,34.26-4.488,66.424v89.538h-31.417V512.407z" />
										<path d="M1108.5,563.122l-24.909,15.484c-21.519-28.573-50.881-42.862-88.09-42.862c-29.737,0-54.429,9.566-74.079,28.693
														c-19.65,19.127-29.475,42.363-29.475,69.709c0,17.784,4.52,34.524,13.559,50.211c9.04,15.691,21.445,27.869,37.209,36.536
														c15.765,8.668,33.433,13.002,53.009,13.002c35.862,0,65.151-14.285,87.865-42.861l24.909,16.382
														c-11.669,17.573-27.343,31.206-47.014,40.895c-19.674,9.688-42.076,14.533-67.209,14.533c-38.598,0-70.615-12.265-96.046-36.803
														c-25.435-24.533-38.149-54.38-38.149-89.538c0-23.636,5.947-45.589,17.84-65.863c11.894-20.27,28.237-36.09,49.033-47.461
														c20.793-11.368,44.058-17.055,69.79-17.055c16.157,0,31.754,2.469,46.789,7.406c15.035,4.937,27.788,11.371,38.262,19.299
														C1092.266,540.759,1101.168,550.857,1108.5,563.122z" />
										<path d="M1164.153,418.156h31.417v338.405h-31.417V418.156z" />
										<path d="M1504.128,512.407v244.154h-30.968v-41.964c-13.167,16.01-27.938,28.051-44.32,36.129
														c-16.382,8.079-34.299,12.118-53.745,12.118c-34.559,0-64.068-12.528-88.528-37.588c-24.461-25.057-36.69-55.541-36.69-91.445
														c0-35.155,12.342-65.226,37.026-90.212c24.686-24.982,54.38-37.476,89.09-37.476c20.046,0,38.184,4.264,54.418,12.792
														c16.231,8.527,30.481,21.318,42.75,38.374v-44.881H1504.128z M1378.572,536.418c-17.482,0-33.622,4.299-48.415,12.89
														c-14.797,8.594-26.564,20.663-35.306,36.203s-13.11,31.978-13.11,49.31c0,17.188,4.407,33.626,13.223,49.313
														c8.815,15.69,20.659,27.906,35.526,36.648c14.867,8.744,30.82,13.113,47.858,13.113c17.185,0,33.472-4.334,48.864-13.002
														c15.39-8.667,27.23-20.396,35.526-35.189c8.292-14.793,12.44-31.455,12.44-49.986c0-28.24-9.303-51.852-27.907-70.832
														C1428.668,545.91,1405.768,536.418,1378.572,536.418z" />
										<path d="M1697.566,539.111l-20.197,20.87c-16.802-16.305-33.226-24.46-49.271-24.46c-10.204,0-18.941,3.366-26.214,10.099
														c-7.275,6.731-10.911,14.586-10.911,23.563c0,7.931,2.997,15.483,8.993,22.665c5.996,7.331,18.591,15.933,37.781,25.807
														c23.387,12.118,39.278,23.787,47.676,35.007c8.243,11.371,12.367,24.162,12.367,38.374c0,20.049-7.045,37.026-21.13,50.94
														c-14.085,13.913-31.69,20.869-52.813,20.869c-14.089,0-27.535-3.068-40.344-9.2c-12.813-6.133-23.412-14.587-31.803-25.358
														l19.748-22.44c16.045,18.104,33.064,27.153,51.06,27.153c12.595,0,23.313-4.039,32.163-12.118
														c8.847-8.078,13.271-17.577,13.271-28.5c0-8.976-2.924-16.978-8.77-24.011c-5.849-6.88-19.043-15.558-39.579-26.031
														c-22.041-11.368-37.034-22.588-44.979-33.661c-7.945-11.069-11.918-23.71-11.918-37.925c0-18.549,6.329-33.959,18.994-46.228
														c12.661-12.265,28.657-18.401,47.991-18.401C1652.159,506.123,1674.789,517.119,1697.566,539.111z" />
										<path d="M1875.97,539.111l-20.197,20.87c-16.802-16.305-33.226-24.46-49.271-24.46c-10.204,0-18.941,3.366-26.214,10.099
														c-7.275,6.731-10.911,14.586-10.911,23.563c0,7.931,2.997,15.483,8.993,22.665c5.996,7.331,18.591,15.933,37.781,25.807
														c23.387,12.118,39.278,23.787,47.676,35.007c8.243,11.371,12.367,24.162,12.367,38.374c0,20.049-7.045,37.026-21.13,50.94
														c-14.085,13.913-31.69,20.869-52.813,20.869c-14.089,0-27.535-3.068-40.344-9.2c-12.813-6.133-23.412-14.587-31.803-25.358
														l19.748-22.44c16.045,18.104,33.064,27.153,51.06,27.153c12.595,0,23.313-4.039,32.163-12.118
														c8.847-8.078,13.271-17.577,13.271-28.5c0-8.976-2.924-16.978-8.77-24.011c-5.849-6.88-19.043-15.558-39.579-26.031
														c-22.041-11.368-37.034-22.588-44.979-33.661c-7.945-11.069-11.918-23.71-11.918-37.925c0-18.549,6.329-33.959,18.994-46.228
														c12.661-12.265,28.657-18.401,47.991-18.401C1830.563,506.123,1853.192,517.119,1875.97,539.111z" />
									</g>
								</svg></center>
						</div>

						<form class="login100-form validate-form ml-3" action="/links/registro" method="POST"
							style="margin-top: -1.2rem;">
							<div class="wrap-input100 validate-input" data-validate="Ingresa tu usertag">
								<input class="input100" type="text" name="usertag" placeholder="Usertag"
									pattern="^[A-Za-z0-9]+$" onkeypress="return isText(event)">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</span>
							</div>
							<div class="wrap-input100 validate-input" data-validate="Contraseña requerida">
								<input class="input100" type="password" name="contra" placeholder="Contraseña">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-lock" aria-hidden="true"></i>
								</span>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="email valido reqeurido: ex@abc.xyz">
								<input class="input100" type="email" name="correo_usuario" placeholder="Email"
									pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Ingresa un Nombre de usuario">
								<input class="input100" type="text" name="nombre_usuario"
									placeholder="Nombre de usuario"
									pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-user" aria-hidden="true"></i>
								</span>
							</div>
							<div class="container-login100-form-btn">
								<button class="login100-form-btn">
									<!--Redirect a login-->
									Registrate
								</button>
							</div>
							<div class="mt-4">
								<p class="text-center h6">Si te registras estarás aceptando los <a
										href="/links/terminos_condiciones">terminos y condiciones</a> </p>
							</div>
						</form>
						<div class="text-right float-right">
							<a class="txt1">
								¿Ya tienes Cuenta?
							</a>
							<a class="txt2" href="/links/login" style="text-decoration: none;">
								Inicia Sesión
								<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6" style="background-color: rgba(255, 248, 220, 0); margin-top: 5.7em;">
				<div class="login100-pic js-tilt" style="width: auto;">
					<img id="cambiar" class="rounded-circle" src="/img/team.svg" width="100%" height="100%" style="">
				</div>
			</div>

		</div>
		{{#if message}}
		<div class="container">
			<div class="row">
				<div class="col-md-4 mx-auto">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{message}}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		{{#if success}}
		<div class="container">
			<div class="row">
				<div class="col-md-4 mx-auto">
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{success}}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}



	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>

</html>