<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	{{!-- BOOTSTRAP 4 --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{{!-- FONT AWESOME 5 --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<title>OnClass</title>
</head>

<body style="background-color: rgba(151, 149, 149, 0.308);">
	<div class="container my-5">
		<main class="join-main">
			<div class="card shadow-lg">
				<div class="card-body">
					<div class="card-header text-center">
						<h2>TÉRMINOS Y CONDICIONES</h2>
					</div>
					<br>
					<h3 class="">Términos de uso</h3>
					<div>
						<p class="text-justify">
							Es requisito necesario para la adquisición de nuestros servicios que se ofrecen en este
							sitio, que
							lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de
							nuestros servicios implicará que usted ha leído y aceptado los Términos y Condiciones de Uso
							en el
							presente documento. Todos los servicios que son ofrecidos por nuestro sitio web pudieran ser
							creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían
							sujetas
							a sus propios Términos y Condiciones.
						</p>
					</div>
					<h3 class="">Aviso de privacidad </h3>
					<div>
						<p class="text-justify">
							La empresa Save Studios en el servicio web Onclass es el sujeto y responsable del
							tratamiento de los
							datos personales recabados de forma general del mismo, los cuales serán protegidos conforme
							a lo
							dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos
							Obligados,
							dichos datos son enlistados en el siguiente apartado.

							Datos personales de identificación y profesionales que se recolecta en el servicio web
							Onclass y la
							finalidad del tratamiento:

							Los datos de identificación que recabara el sitio web serán: nombre completo, fecha de
							nacimiento,
							edad, nombre de usuario. Estos datos se recolectarán para un servicio más personalizado
							dentro del
							sitio web.

							Los datos profesionales que recabara el sitio web serán: dirección de correo de electrónico,
							nombre
							de la institución/escuela/colegio. Estos datos se recolectarán para que el usuario reciba
							notificaciones e información de sus clases.
						</p>
					</div>
					<h5 class="">Transferencia de datos personales </h5>
					<p class="text-justify">
						No se realizarán transferencias de datos personales, salvo aquellas que sean necesarias para el
						funcionamiento del servicio web.

						Procedimiento para ejercer sus derechos ARCO

						El usuario puede conocer los datos que posee el sitio web. El usuario podrá actualizar o
						modificar sus
						datos personales en caso de que lo requiera. El usuario puede solicitar la eliminación de sus
						datos
						personales cuando ya no disponga del servicio activo de la empresa. El usuario puede solicitar
						la
						eliminación de sus datos para fines distintos al funcionamiento del servicio. El titular de los
						datos
						podrá ejercer estos derechos desde la cuenta del usuario.

						El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en
						cualquier
						momento, en caso de que se haya registrado y que sea necesario para el uso de nuestros
						servicios.
						Onclass no asume la responsabilidad en caso de que entregue dicha clave a terceros.
					</p>
					<h3 class="">Política de uso</h3>
					<div>
						<p class="text-justify">
							El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en
							cualquier momento, en caso de que se haya registrado y que sea necesario para el uso de
							nuestros
							servicios. Onclass no asume la responsabilidad en caso de que entregue dicha clave a
							terceros.

							USO NO AUTORIZADO En caso de que aplique (para creación de software o programación de uno)
							usted no
							puede colocar uno de nuestros servicios, modificado o sin modificar, en un CD, sitio web o
							ningún
							otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.

							PROPIEDAD

							Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros servicios,
							modificado o sin modificar. Todos los servicios son propiedad de los proveedores del
							contenido. En
							caso de que no se especifique lo contrario, nuestros servicios se proporcionan sin ningún
							tipo de
							garantía, expresa o implícita. Esta compañía no será responsable de ningún daño incluyendo,
							pero no
							limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras
							pérdidas
							resultantes del uso o de la imposibilidad de utilizar nuestros servicios.

							PRIVACIDAD

							Este Onclass garantiza que la información personal que usted envía cuenta con la seguridad
							necesaria. Los datos ingresados por el usuario no serán entregados a terceros, salvo que
							deba ser
							revelada en cumplimiento a una orden judicial o requerimientos legales. La suscripción a
							boletines
							de correos electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de
							crear su
							cuenta.

							Save Studios reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
						</p>
					</div>
					<br>
					<div class="d-flex justify-content-center">
						<button type="button" class="btn btn-primary btn-lg" onclick="javascript:window.history.go(-1);">
							¡ACEPTO!
						</button>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>